* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    height: 100vh;
    background: url("image/pic1.jpg") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dark overlay */
body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

/* Main container */
.main {
    position: relative;
    text-align: center;
    color: orange;
}

h1 {
    margin-bottom: 20px;
}

/* Form box */
.form-box {
    background: #f2c9a5;
    padding: 25px;
    border-radius: 10px;
    width: 300px;
}

.form-box h2 {
    color: black;
    margin-bottom: 15px;
}

/* Inputs */
input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
}

/* Error */
.error {
    color: red;
    font-size: 12px;
}

/* Button */
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #6c8cd5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background: gray;
    cursor: not-allowed;
}